{% extends "layout.html" %}
{% block content %}
<!--side-->
<div id="side">
    <div class="side2">
        05
        <span class="s_line"></span>
        CONTACT
    </div>
</div>
<!--//side-->
<!-- //Container -->
<div class="container">
  <div class="cont contact wow fadeInUp" data-wow-delay="0.2s">
          <div class="title v_tt">CONTACT</div>
        <div class="boardView">
          <div class="boardView_header">
            <div class="form">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdq_QrQfnCLBRihDdVsDtaUJc3z_5Z1rhYW8GcOA1ctl0EI9w/viewform?embedded=true" width="750" height="960" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
      </div>
</div>


{% endblock %}
