{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">
        $(document).ready(function () {
            init();
        });

        function fnTab(param) {
            var active = param;
            $(".dis").hide();
            $("#" + active).show();
            $(".artist_color").attr('class', '');
            $("#a_" + active).attr('class', 'artist_color');
        }
    </script>



<!--side-->
<div id="side">
    <div class="side2">
        02
        <span class="s_line"></span>
        PORTFOLIO
    </div>
</div>
<!--//side-->
<!-- Container-->
<div class="container">
    <div class="cont portfolio wow fadeInUp" data-wow-delay="0.2s">
        <div class="dis_left">
            <div class="dis_bt_top">
                <p class="back">
                    <a href="/portfolio">&lt;  BACK</a>
                </p>
            </div>
                <div class="onlin_cover"><img alt="Reloj digital" src="/static/Content/Pc/images/sub/01.jpg"></div>
                <div class="dis_bt_bottom">
                    <p>Create Date</p>
                    <p class="dis_date">2021-20-08</p>
                </div>
        </div>
        <!-- //dis_left-->
        <div class="dis_right">
            <!--portfolio_inner -->
            <ul class="lang">
                                    <li><a href="javascript:fnTab(773)" id="a_773">KO</a></li>
                                    <li>/</li>
                                    <li><a href="javascript:fnTab(772)" id="a_772">EN</a></li>
                                    <li>/</li>
                                    <li><a href="javascript:fnTab(771)" id="a_771" class="artist_color">ESP</a></li>
            </ul>
            <!--portfolio_inner-->
            <div class="portfolio_inner">
                    <div class="dis_txt_top">
                        <p class="name">FULLSTACK</p>
                        <p class="album_name EN">Reloj climático</p>
                    </div>
                              <div class="dis" id="773" style="display:none;">
                                      <div class="dis_txt_tt">
                                          날씨 시계는 홈 앱입니다. 날씨에 따라 변하는 자연의 풍경이 담긴 애니메이션 배경이 포함되어 있습니다.<br>시계와 배경은 현지 시간과 날씨에 따라 다릅니다. <br>
                                      </div>

                                      <!--lista de recursos-->
                                      <div class="tracklist">
                                          <p class="tl_tt">RESOURCE LIST</p>
                                          <div class="card-bare-text release-playlist text-tall">
                                              1. HTML<br>2. CSS<br>3. JavaScript
                                          </div>
                                      </div>

                                </div>
                                <div class="dis" id="772" style="display:none;">
                                        <div class="dis_txt_tt">
                                            Weather Clock is a home page. It contains an animated background with landscapes, which changes according to the weather.<br>The clock and background depend on the local time and local weather. <br>
                                        </div>

                                        <!--lista de recursos-->
                                        <div class="tracklist">
                                            <p class="tl_tt">RESOURCE LIST</p>
                                            <div class="card-bare-text release-playlist text-tall">
                                                1. HTML<br>2. CSS<br>3. JavaScript
                                            </div>
                                        </div>

                                </div>
                                <div class="dis" id="771">
                                        <div class="dis_txt_tt">
                                            Reloj climático es una aplicación de inicio. Contiene un fondo animado con paisajes de naturaleza, el cual cambia según el clima.<br>El reloj y fondo depende de la hora y clima local. <br>
                                        </div>

                                        <!--lista de recursos-->
                                        <div class="tracklist">
                                            <p class="tl_tt">RESOURCE LIST</p>
                                            <div class="card-bare-text release-playlist text-tall">
                                                1. HTML<br>2. CSS<br>3. JavaScript
                                            </div>
                                        </div>

                                </div>


            </div>
            <!--//portfolio_inner-->
        </div>
        <!-- //dis_right-->

            <!--Demo-->
            <div class="video">
                <p class="vd_tt">DEMO</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gTKqGln8PPk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- release
            <div class="release">
                <div>
                    <p class="rl_tt">PROJECTS</p>
                    <p class="rl_more">
                        <a href="/portfolio">MORE ></a>
                    </p>
                </div>

                <div class="release_list">

                        <div class="album_img" style="width:264px; height:264px;">
                            <img alt="The Feels" src="/static/Content/Pc/images/sub/02.jpg" width="264" height="264" />
                            <div class="album_cont">
                                <div>
                                    <p class="ab_date">2021-10-01</p>
                                    <p class="ab_name">Memotest</p>
                                </div>
                            </div>
                            <a href="/02"></a>
                        </div>
                        <div class="album_img" style="width:264px; height:264px;">
                            <img alt="Notificaciones" src="/static/Content/Pc/images/sub/03.jpg" width="264" height="264" />
                            <div class="album_cont">
                                <div>
                                    <p class="ab_date">2021-06-09</p>
                                    <p class="ab_name">Notificaciones por E-mail</p>
                                </div>
                            </div>
                            <a href="/03"></a>
                        </div>
                        <div class="album_img" style="width:264px; height:264px;">
                            <img alt="Conteo de recursos" src="/static/Content/Pc/images/sub/04.jpg" width="264" height="264" />
                            <div class="album_cont">
                                <div>
                                    <p class="ab_date">2020-12-18</p>
                                    <p class="ab_name">Conteo de recursos</p>
                                </div>
                            </div>
                            <a href="/04"></a>
                        </div>
                        <div class="album_img" style="width:264px; height:264px;">
                            <img alt="Trivia" src="/static/Content/Pc/images/sub/05.jpg" width="264" height="264" />
                            <div class="album_cont">
                                <div>
                                    <p class="ab_date">2020-10-26</p>
                                    <p class="ab_name">Trivia</p>
                                </div>
                            </div>
                            <a href="/05"></a>
                        </div>
                </div>
            </div>
            <!-- // release -->
    </div>
</div>
<!-- //Container -->


{% endblock %}
