{% extends "layout.html" %}
{% block content %}

<!--side-->
<div id="side">
    <div class="side2">
        02
        <span class="s_line"></span>
        PORTFOLIO
    </div>
</div>
<!--//side-->
<!-- Container-->
<div class="container">

    <div class="cont portfolio_view wow fadeInUp" data-wow-delay="0.2s">

        <div class="title">PORTFOLIO</div>

        <div class="new_release_list">
                    <div class="new_album_cont">
                        <a href="/01">
                            <div class="img">
                                <img alt="Reloj Secreto" src="/static/Content/Pc/images/sub/01.jpg" width="344" height="344">
                                <div class="list-hover">
                                    <img alt="more" src="/static/Content/Pc/images/sub/more_view.png">
                                </div>
                            </div>
                            <div class="txt">
                                <p>
                                    Reloj climático<span>2021-08-31

</span>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="new_album_cont">
                      <!--  <a href="/02"> -->
                            <div class="img">
                                <img alt="Memotest" src="/static/Content/Pc/images/sub/02.jpg" width="344" height="344">
                                <div class="list-hover">
                                    <img alt="more" src="/static/Content/Pc/images/sub/coming_soon.png">
                                </div>
                            </div>
                            <div class="txt">
                                <p>
                                    Memotest<span>2022-0-0</span>
                                </p>
                            </div>
                      <!--  </a> -->
                    </div>
                    <div class="new_album_cont">
                      <!--  <a href="/03"> -->
                            <div class="img">
                                <img alt="Notificaciones" src="/static/Content/Pc/images/sub/03.jpg" width="344" height="344">
                                <div class="list-hover">
                                    <img alt="more" src="/static/Content/Pc/images/sub/coming_soon.png">
                                </div>
                            </div>
                            <div class="txt">
                                <p>
                                    Notificaciones por e-mail<span>2022-0-0</span>
                                </p>
                            </div>
                      <!--  </a> -->
                    </div>
                    <div class="new_album_cont">
                      <!--  <a href="/04"> -->
                            <div class="img">
                                <img alt="Conteo de recursos" src="/static/Content/Pc/images/sub/04.jpg" width="344" height="344">
                                <div class="list-hover">
                                    <img alt="more" src="/static/Content/Pc/images/sub/coming_soon.png">
                                </div>
                            </div>
                            <div class="txt">
                                <p>
                                    Conteo de recursos<span>2022-0-0</span>
                                </p>
                            </div>
                      <!--  </a> -->
                    </div>
                    <div class="new_album_cont">
                      <!--  <a href="/05"> -->
                            <div class="img">
                                <img alt="Eyes wide open" src="/static/Content/Pc/images/sub/05.jpg" width="344" height="344">
                                <div class="list-hover">
                                    <img alt="more" src="/static/Content/Pc/images/sub/coming_soon.png">
                                </div>
                            </div>
                            <div class="txt">
                                <p>
                                    Trivias<span>2022-0-0</span>
                                </p>
                            </div>
                      <!--  </a> -->
                    </div>
                    <div class="new_album_cont">
                    <!--    <a href="/06"> -->
                            <div class="img">
                                <img alt="Encuesta" src="/static/Content/Pc/images/sub/06.jpg" width="344" height="344">
                                <div class="list-hover">
                                    <img alt="" src="/static/Content/Pc/images/sub/coming_soon.png">
                                </div>
                            </div>
                            <div class="txt">
                                <p>
                                    Aplicación de encuestas<span>2022-0-0</span>
                                </p>
                            </div>
                      <!--  </a> -->
                    </div>
        </div>


        <!--page
        <div class="page-btn-box">
<button type="button" class="prev-btn" data-page="0"><img src='/static/Content/Pc/images/common/bg-btn-prev.png' alt=''></button>
<span class='page-number'><strong>1</strong> / <em>4</em></span>
<a href='' class='img'><button type="button" class="next-btn" data-page="2"><img src='/static/Content/Pc/images/common/bg-btn-next.png' alt=''></button></a>
</div>
        -->

        <!--//page-->

    </div>
    <!-- //cont portfolio_view -->

</div>
<!-- //Container -->


{% endblock %}
