{% extends "layout.html" %}
{% block content %}
<!-- Container-->
<div class="container">
    <div class="cont notice wow fadeInUp" data-wow-delay="0.2s">
        <div class="n_left">
            <div class="title n_tt">SKILLS</div>
        </div>
        <div class="n_right">
            <div class="noticeList">
                <ul>
                            <li>
                                    <p class="cate">30%</p>
                                    <p class="nc_in">
                                        <span class="tit"><progress max="100" value="30"></progress>&nbsp;[JAVASCRIPT]</span>
                                        <span class="date">Control Flow. Advanced conditionals. Error handling. Data Models. Asynchronity. DOM Manipulation.  Functional Approach. Object Oriented Approach.</span>
                                    </p>
                            </li>
                            <li>
                                    <p class="cate">90%</p>
                                    <p class="nc_in">
                                        <span class="tit"><progress max="100" value="90"></progress>&nbsp;[HTML]</span>
                                        <span class="date">Opening the Box Model. Positioning Content. Working with Typography. Creating Lists. Adding Media. Building Forms. Organizing Data with Tables.</span>
                                    </p>
                            </li>
                            <li>
                                    <p class="cate">90%</p>
                                    <p class="nc_in">
                                        <span class="tit"><progress max="100" value="90"></progress>&nbsp;[CSS3]</span>
                                        <span class="date">Background and foreground color. Hexadecimal, RGB, and HSL colors. CSS opacity. CSS typography. Font families, font styles, and font weights. Letter spacing, line height, and text alignment. Using external fonts. Stacking and block-formatting contexts. Box model and margin collapse.</span>
                                    </p>
                            </li>
                            <li>
                                    <p class="cate">80%</p>
                                    <p class="nc_in">
                                        <span class="tit"><progress max="100" value="80"></progress>&nbsp;[PYTHON]</span>
                                        <span class="date">Functions. Positional and keyword arguments. 'args' and 'kwargs'. Classes. Lists. Dictionaries. Sets. Tuples. Lambda expressions. Forms.</span>
                                    </p>
                            </li>
                            <li>
                                    <p class="cate">60%</p>
                                    <p class="nc_in">
                                        <span class="tit"><progress max="100" value="60"></progress>&nbsp;[Node.js]</span>
                                        <span class="date">Non-blocking or Asynchronous. Prototypes. Modules. Callbacks. Promises. Observables. Create a Server.</span>
                                    </p>
                            </li>
                            <li>
                                    <p class="cate">80%</p>
                                    <p class="nc_in">
                                        <span class="tit"><progress max="100" value="80"></progress>&nbsp;[MySQL]</span>
                                        <span class="date">Server administration. Backup and recovery of MySQL database. Performance monitoring and Workbench.</span>
                                    </p>
                            </li>
                            <li>
                                    <p class="cate">70%</p>
                                    <p class="nc_in">
                                        <span class="tit"><progress max="100" value="70"></progress>&nbsp;[FRAMEWORKS]</span>
                                        <span class="date">JQuery. React. Flask. Bootstrap. </span>
                                    </p>
                            </li>
                            <li>
                                    <p class="cate">></p>
                                    <p class="nc_in">
                                        <span class="tit">OTHERS SKILLS</span>
                                        <span class="date">Scrum, design, photography, English, Korean.</span>
                                    </p>
                            </li>
                            <li>
                                    <p class="cate">+</p>
                                    <p class="nc_in">
                                        <span class="tit">I WANT TO LEARN</span>
                                        <span class="date">Java, and JavaScript</span>
                                    </p>
                            </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //cont notice -->
</div>
<!-- //Container -->
{% endblock %}
